{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class ='flash'>
		      {% with messages = get_flashed_messages() %}
      			{% if messages %}
			        <ul>
			        {% for message in messages %}
			            <li> <strong> {{ message }} </strong> </li>
			        {% endfor %}
			        </ul>
			        {% endif %}
			    {% endwith %}
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3" style="border-right-style: solid">
		<h2>Categories</h2>
		{% for category in categories %}
			<a href="{{url_for('showCategory', category_id=category.id)}}"><h4>{{category.name}}</h4></a>
		{% endfor %}
		</div>

		<div class="col-md-9">
		<h2>Lates Items</h2>
		{% for item in items %}
			{% for category in categories %}
				{% if category.id == item.category_id %}
					<a href="{{url_for('showCategoryItem', category_id=category.id, item_id=item.id)}}">{{item.name}}({{category.name}})</a><br>
				{% endif %}
			{% endfor %}
		{% endfor %}

		{%if 'username' not in session %}
			<hr>
			<a href="{{url_for('showLogin')}}" class="text-success">Login To Add New Items</a>
		
		{% else %}
			<h5><a href="{{url_for('newItem')}}" class="text-success">Add Item</a></h5>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

