{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{{category.name}}</h1>
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>

			{%if 'username' not in session %}
				<hr>
				<a href="{{url_for('showLogin')}}" class="text-success">Login To Edit Items</a>
			
			{% else %}
				<a href="{{url_for('itemDelete', category_id=category.id, item_id=item.id)}}">Delete</a>
				<a href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}">Edit</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock%}