{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>New Item</h1>
      <form action="#" method="post">
        Name:<br>
        <input type="text" name="name">
        <br><br>
        Description:<br>
        <textarea rows="4" cols="50" name="description">
        </textarea>
        <br><br>
        Category:<br>
        <select name="category_id">
        		{% for i in categories %}
        			<option value="{{i.id}}">{{i.name}}</option>
        		{% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>
      <a href="{{url_for('showCategories')}}">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}